<?php

/*
|--------------------------------------------------------------------------
| Register The Auto Loader
|--------------------------------------------------------------------------
*/

require __DIR__.'/../vendor/autoload.php';

/*
|--------------------------------------------------------------------------
| Bootstrap The Framework
|--------------------------------------------------------------------------
*/
use Mlangeni\Machinjiri\Core\Machinjiri;

/*
|--------------------------------------------------------------------------
| Run The Application
|--------------------------------------------------------------------------
*/

Machinjiri::App(__DIR__, true)->init(); // true for developement and false for production