<?php

namespace Mlangeni\Machinjiri\App\Controllers;

use Mlangeni\Machinjiri\Core\Views\View;

class WelcomeController
{
    public function index()
    {
        View::make('welcome')->display();
    }
}